ul.colors.colors__list
    li.colors__item
        label.colors__label
            input.colors__checkbox(type='checkbox' name='color[]')
            span.colors__checkbox-icon
                svg.colors__checkbox-svg
                    path(id='check' d="M0.138462 4.4C0.0461539 4.32 0 4.2 0 4.12C0 4.04 0.0461539 3.92 0.138462 3.84L0.784615 3.28C0.969231 3.12 1.24615 3.12 1.43077 3.28L1.47692 3.32L4.01538 5.68C4.10769 5.76 4.24615 5.76 4.33846 5.68L10.5231 0.12H10.5692C10.7538 -0.04 11.0308 -0.04 11.2154 0.12L11.8615 0.68C12.0462 0.84 12.0462 1.08 11.8615 1.24L4.47692 7.88C4.38462 7.96 4.29231 8 4.15385 8C4.01538 8 3.92308 7.96 3.83077 7.88L0.230769 4.52L0.138462 4.4Z" fill="white")
            span.colors__checkbox-color(style='background-color:#000')
            span Черный
    li.colors__item
        label.colors__label
            input.colors__checkbox(type='checkbox' name='color[]')
            span.colors__checkbox-icon
                svg.colors__checkbox-svg
                    path(id='check' d="M0.138462 4.4C0.0461539 4.32 0 4.2 0 4.12C0 4.04 0.0461539 3.92 0.138462 3.84L0.784615 3.28C0.969231 3.12 1.24615 3.12 1.43077 3.28L1.47692 3.32L4.01538 5.68C4.10769 5.76 4.24615 5.76 4.33846 5.68L10.5231 0.12H10.5692C10.7538 -0.04 11.0308 -0.04 11.2154 0.12L11.8615 0.68C12.0462 0.84 12.0462 1.08 11.8615 1.24L4.47692 7.88C4.38462 7.96 4.29231 8 4.15385 8C4.01538 8 3.92308 7.96 3.83077 7.88L0.230769 4.52L0.138462 4.4Z" fill="white")
            span.colors__checkbox-color(style='background-color:#1B79E8')
            span Синий
    li.colors__item
        label.colors__label
            input.colors__checkbox(type='checkbox' name='color[]')
            span.colors__checkbox-icon
                svg.colors__checkbox-svg
                    path(id='check' d="M0.138462 4.4C0.0461539 4.32 0 4.2 0 4.12C0 4.04 0.0461539 3.92 0.138462 3.84L0.784615 3.28C0.969231 3.12 1.24615 3.12 1.43077 3.28L1.47692 3.32L4.01538 5.68C4.10769 5.76 4.24615 5.76 4.33846 5.68L10.5231 0.12H10.5692C10.7538 -0.04 11.0308 -0.04 11.2154 0.12L11.8615 0.68C12.0462 0.84 12.0462 1.08 11.8615 1.24L4.47692 7.88C4.38462 7.96 4.29231 8 4.15385 8C4.01538 8 3.92308 7.96 3.83077 7.88L0.230769 4.52L0.138462 4.4Z" fill="white")
            span.colors__checkbox-color(style='background-color:#1AB817')
            span Зеленый
    li.colors__item
        label.colors__label
            input.colors__checkbox(type='checkbox' name='color[]')
            span.colors__checkbox-icon
                svg.colors__checkbox-svg
                    path(id='check' d="M0.138462 4.4C0.0461539 4.32 0 4.2 0 4.12C0 4.04 0.0461539 3.92 0.138462 3.84L0.784615 3.28C0.969231 3.12 1.24615 3.12 1.43077 3.28L1.47692 3.32L4.01538 5.68C4.10769 5.76 4.24615 5.76 4.33846 5.68L10.5231 0.12H10.5692C10.7538 -0.04 11.0308 -0.04 11.2154 0.12L11.8615 0.68C12.0462 0.84 12.0462 1.08 11.8615 1.24L4.47692 7.88C4.38462 7.96 4.29231 8 4.15385 8C4.01538 8 3.92308 7.96 3.83077 7.88L0.230769 4.52L0.138462 4.4Z" fill="white")
            span.colors__checkbox-color(style='background-color:#959595')
            span Серый
    li.colors__item
        label.colors__label
            input.colors__checkbox(type='checkbox' name='color[]')
            span.colors__checkbox-icon
                svg.colors__checkbox-svg
                    path(id='check' d="M0.138462 4.4C0.0461539 4.32 0 4.2 0 4.12C0 4.04 0.0461539 3.92 0.138462 3.84L0.784615 3.28C0.969231 3.12 1.24615 3.12 1.43077 3.28L1.47692 3.32L4.01538 5.68C4.10769 5.76 4.24615 5.76 4.33846 5.68L10.5231 0.12H10.5692C10.7538 -0.04 11.0308 -0.04 11.2154 0.12L11.8615 0.68C12.0462 0.84 12.0462 1.08 11.8615 1.24L4.47692 7.88C4.38462 7.96 4.29231 8 4.15385 8C4.01538 8 3.92308 7.96 3.83077 7.88L0.230769 4.52L0.138462 4.4Z" fill="white")
            span.colors__checkbox-color(style='background-color:#EB3232')
            span Красный
    li.colors__item
        label.colors__label
            input.colors__checkbox(type='checkbox' name='color[]')
            span.colors__checkbox-icon
                svg.colors__checkbox-svg
                    path(id='check' d="M0.138462 4.4C0.0461539 4.32 0 4.2 0 4.12C0 4.04 0.0461539 3.92 0.138462 3.84L0.784615 3.28C0.969231 3.12 1.24615 3.12 1.43077 3.28L1.47692 3.32L4.01538 5.68C4.10769 5.76 4.24615 5.76 4.33846 5.68L10.5231 0.12H10.5692C10.7538 -0.04 11.0308 -0.04 11.2154 0.12L11.8615 0.68C12.0462 0.84 12.0462 1.08 11.8615 1.24L4.47692 7.88C4.38462 7.96 4.29231 8 4.15385 8C4.01538 8 3.92308 7.96 3.83077 7.88L0.230769 4.52L0.138462 4.4Z" fill="white")
            span.colors__checkbox-color.colors__checkbox-color_border(style='background-color:#FFFFFF')
            span Белый