footer.footer
    .container.footer__container
        .footer__col.footer__col_fourth
            .footer__logo
                .footer__logo-img
            span.footer__title.footer__title_third НАШИ СОЦ СЕТИ
            .footer__socials.footer__socials_third
                include social.pug
        .footer__col.footer__col_first
            span.footer__title МЕНЮ САЙТА
            ul.footer__list
                li.footer__item
                    a.footer__link(href="#") О Компании
                li.footer__item
                    a.footer__link(href="#") Автомобили
                li.footer__item
                    a.footer__link(href="#") Услуги
                li.footer__item
                    a.footer__link(href="#") О проекте
                li.footer__item
                    a.footer__link(href="#") Парнерам
                li.footer__item
                    a.footer__link(href="#") Контакты
        .footer__col.footer__col_second
            span.footer__title ДРУГОЕ
            ul.footer__list
                li.footer__item
                    a.footer__link(href="#") Правила оплаты и платежа
                li.footer__item
                    a.footer__link(href="#") Правила отказа от услуги
                li.footer__item
                    a.footer__link(href="#") Правила предоставления услуги
                li.footer__item
                    a.footer__link(href="#") Описание товаров и услуг
        .footer__col.footer__col_third
            span.footer__title АДРЕС
            span.footer__text Республика Казахстан, г. Астана, ул. Сарыарка 8/1
            span.footer__title СЛУЖБА ПОДДЕРЖКИ
            a.footer__tel(href="tel:+77019507756") +7 (701) 950 77 56
            a.footer__tel(href="tel:+77019507756") +7 (701) 950 77 56
        .footer__col.footer__col_third
            span.footer__title СКАЧИВАЙТЕ ПРИЛОЖЕНИЕ
            .footer__store
                a.footer__store-apple(href="#")
                a.footer__store-google(href="#")
            span.footer__title СПОСОБЫ ОПЛАТЫ
            .footer__images
                +icon('visa','footer__img')
                +icon('master-card','footer__img')
        .footer__mobile
            span.footer__title СКАЧИВАЙТЕ ПРИЛОЖЕНИЕ
            .footer__store.footer__store_third
                a.footer__store-apple(href="#")
                a.footer__store-google(href="#")
            span.footer__title СЛУЖБА ПОДДЕРЖКИ
            a.footer__tel(href="tel:+77019507756") +7 (701) 950 77 56
            a.footer__tel(href="tel:+77019507756") +7 (701) 950 77 56
