.mobile-menu
    select.mobile-menu__form-city(name='city')
        option(value='1' selected) город: Астана
    nav.mobile-menu__nav
        ul.mobile-menu__list
            li.mobile-menu__item
                a.mobile-menu__elem(href='#') Автомобили
            li.mobile-menu__item
                a.mobile-menu__elem(href='#') Услуги
            li.mobile-menu__item
                a.mobile-menu__elem(href='#') О проекте
            li.mobile-menu__item
                a.mobile-menu__elem(href='#') Контакты
    include social.pug