.offers(id='offers')
    ul.offers__list
        li.offers__item
            .offers__item-photo
                +image('../images/img/offer-image-1.png','offers__item-img')
                a.offers__favorite(href='/car-single.html')
                    +icon('star','offers__icon')
            .offers__item-card
                .offers__item-info
                    .offers__item-title
                        span Mercedes-Benz G450 (500DDD01)
                    .offers__item-rating
                        .ofers__stars(data-rateyo-rating="3")
                        span.offers__item-price-subtext (23 голоса)
                    .offers__item-price
                        span.offers__item-price-text 15 000 тг.
                        span.offers__item-price-subtext /час
                a(href='/car-single.html').ofers__btn.btn.btn__link.btn__link_large.btn__link_small_text.btn__link_offers Подробнее
        li.offers__item
            .offers__item-photo
                +image('../images/img/offer-image-2.png','offers__item-img')
                a.offers__favorite(href='#')
                    +icon('star','offers__icon')
            .offers__item-card
                .offers__item-info
                    .offers__item-title
                        span Mercedes-Benz G450 (500DDD01)
                    .offers__item-rating
                        .ofers__stars(data-rateyo-rating="3")
                        span.offers__item-price-subtext (23 голоса)
                    .offers__item-price
                        span.offers__item-price-text 15 000 тг.
                        span.offers__item-price-subtext /час
                a(href='/car-single.html').ofers__btn.btn.btn__link.btn__link_large.btn__link_small_text.btn__link_offers Подробнее
        li.offers__item
            .offers__item-photo
                +image('../images/img/offer-image-3.png','offers__item-img')
                a.offers__favorite(href='#')
                    +icon('star','offers__icon')
            .offers__item-card
                .offers__item-info
                    .offers__item-title
                        span Mercedes-Benz G450 (500DDD01)
                    .offers__item-rating
                        .ofers__stars(data-rateyo-rating="3")
                        span.offers__item-price-subtext (23 голоса)
                    .offers__item-price
                        span.offers__item-price-text 15 000 тг.
                        span.offers__item-price-subtext /час
                a(href='/car-single.html').ofers__btn.btn.btn__link.btn__link_large.btn__link_small_text.btn__link_offers Подробнее
        li.offers__item
            .offers__item-photo
                +image('../images/img/offer-image-1.png','offers__item-img')
                a.offers__favorite(href='#')
                    +icon('star','offers__icon')
            .offers__item-card
                .offers__item-info
                    .offers__item-title
                        span Mercedes-Benz G450 (500DDD01)
                    .offers__item-rating
                        .ofers__stars(data-rateyo-rating="3")
                        span.offers__item-price-subtext (23 голоса)
                    .offers__item-price
                        span.offers__item-price-text 15 000 тг.
                        span.offers__item-price-subtext /час
                a(href='/car-single.html').ofers__btn.btn.btn__link.btn__link_large.btn__link_small_text.btn__link_offers Подробнее
        li.offers__item
            .offers__item-photo
                +image('../images/img/offer-image-2.png','offers__item-img')
                a.offers__favorite(href='#')
                    +icon('star','offers__icon')
            .offers__item-card
                .offers__item-info
                    .offers__item-title
                        span Mercedes-Benz G450 (500DDD01)
                    .offers__item-rating
                        .ofers__stars(data-rateyo-rating="3")
                        span.offers__item-price-subtext (23 голоса)
                    .offers__item-price
                        span.offers__item-price-text 15 000 тг.
                        span.offers__item-price-subtext /час
                a(href='/car-single.html').ofers__btn.btn.btn__link.btn__link_large.btn__link_small_text.btn__link_offers Подробнее
        li.offers__item
            .offers__item-photo
                +image('../images/img/offer-image-3.png','offers__item-img')
                a.offers__favorite(href='#')
                    +icon('star','offers__icon')
            .offers__item-card
                .offers__item-info
                    .offers__item-title
                        span Mercedes-Benz G450 (500DDD01)
                    .offers__item-rating
                        .ofers__stars(data-rateyo-rating="3")
                        span.offers__item-price-subtext (23 голоса)
                    .offers__item-price
                        span.offers__item-price-text 15 000 тг.
                        span.offers__item-price-subtext /час
                a(href='/car-single.html').ofers__btn.btn.btn__link.btn__link_large.btn__link_small_text.btn__link_offers Подробнее
        li.offers__item
            .offers__item-photo
                +image('../images/img/offer-image-1.png','offers__item-img')
                a.offers__favorite(href='#')
                    +icon('star','offers__icon')
            .offers__item-card
                .offers__item-info
                    .offers__item-title
                        span Mercedes-Benz G450 (500DDD01)
                    .offers__item-rating
                        .ofers__stars(data-rateyo-rating="3")
                        span.offers__item-price-subtext (23 голоса)
                    .offers__item-price
                        span.offers__item-price-text 15 000 тг.
                        span.offers__item-price-subtext /час
                a(href='/car-single.html').ofers__btn.btn.btn__link.btn__link_large.btn__link_small_text.btn__link_offers Подробнее
        li.offers__item
            .offers__item-photo
                +image('../images/img/offer-image-2.png','offers__item-img')
                a.offers__favorite(href='#')
                    +icon('star','offers__icon')
            .offers__item-card
                .offers__item-info
                    .offers__item-title
                        span Mercedes-Benz G450 (500DDD01)
                    .offers__item-rating
                        .ofers__stars(data-rateyo-rating="3")
                        span.offers__item-price-subtext (23 голоса)
                    .offers__item-price
                        span.offers__item-price-text 15 000 тг.
                        span.offers__item-price-subtext /час
                a(href='/car-single.html').ofers__btn.btn.btn__link.btn__link_large.btn__link_small_text.btn__link_offers Подробнее
        li.offers__item
            .offers__item-photo
                +image('../images/img/offer-image-3.png','offers__item-img')
                a.offers__favorite(href='#')
                    +icon('star','offers__icon')
            .offers__item-card
                .offers__item-info
                    .offers__item-title
                        span Mercedes-Benz G450 (500DDD01)
                    .offers__item-rating
                        .ofers__stars(data-rateyo-rating="3")
                        span.offers__item-price-subtext (23 голоса)
                    .offers__item-price
                        span.offers__item-price-text 15 000 тг.
                        span.offers__item-price-subtext /час
                a(href='/car-single.html').ofers__btn.btn.btn__link.btn__link_large.btn__link_small_text.btn__link_offers Подробнее
