.offers-list(id='offers-list-open')
    ul.offers-list__list
        li.offers-list__item
            .offers-list__photo
                +image('../images/img/offer-image-1.png','offers-list__img')
                a.offers-list__favourite.favourite.favourite__link.favourite__link_active(href='#')
                    +icon('star','offers__icon')
            .offers-list__info
                .offers-list__title
                    span Mercedes-Benz G450 (500DDD01)
                .offers-list__driver-name
                    span Абельдинов Азамат
                .offers-list__rating.rating
                    .rating__star(data-rateyo-rating="3")
                    span.offers-list__sub-text (23 голоса)
                ul.offers-list__car-desc.car.car__desc-list
                    li.car__desc-item
                        .car__desc-icon
                            +icon('city','car__desc-icon-svg')
                        .car__desc-subtext
                            span город
                        .car__desc-text
                            span Астана
                    li.car__desc-item
                        .car__desc-icon
                            +icon('year','car__desc-icon-svg')
                        .car__desc-subtext
                            span год выпуска
                        .car__desc-text
                            span 2012
                    li.car__desc-item
                        .car__desc-icon
                            +icon('color','car__desc-icon-svg')
                        .car__desc-subtext
                            span цвет
                        .car__desc-text
                            span Черный
                    li.car__desc-item
                        .car__desc-icon
                            +icon('engine','car__desc-icon-svg')
                        .car__desc-subtext
                            span тип двигателя
                        .car__desc-text
                            span Бензин
            .offers-list__actions
                .offers-list__price
                    span 15 000 тг.
                    span.offers-list__sub-text /час
                .offers-list__btns
                    a(href='/car-single.html').offers-list__btns-white Подробнее
                    a(href='#').offers-list__btns-blue Оформить
        li.offers-list__item
            .offers-list__photo
                +image('../images/img/offer-image-2.png','offers-list__img')
                a.offers-list__favourite.favourite.favourite__link.favourite__link_active(href='#')
                    +icon('star','offers__icon')
            .offers-list__info
                .offers-list__title
                    span Mercedes-Benz G450 (500DDD01)
                .offers-list__driver-name
                    span Абельдинов Азамат
                .offers-list__rating.rating
                    .rating__star(data-rateyo-rating="3")
                    span.offers-list__sub-text (23 голоса)
                ul.offers-list__car-desc.car.car__desc-list
                    li.car__desc-item
                        .car__desc-icon
                            +icon('city','car__desc-icon-svg')
                        .car__desc-subtext
                            span город
                        .car__desc-text
                            span Астана
                    li.car__desc-item
                        .car__desc-icon
                            +icon('year','car__desc-icon-svg')
                        .car__desc-subtext
                            span год выпуска
                        .car__desc-text
                            span 2012
                    li.car__desc-item
                        .car__desc-icon
                            +icon('color','car__desc-icon-svg')
                        .car__desc-subtext
                            span цвет
                        .car__desc-text
                            span Черный
                    li.car__desc-item
                        .car__desc-icon
                            +icon('engine','car__desc-icon-svg')
                        .car__desc-subtext
                            span тип двигателя
                        .car__desc-text
                            span Бензин
            .offers-list__actions
                .offers-list__price
                    span 15 000 тг.
                    span.offers-list__sub-text /час
                .offers-list__btns
                    a(href='/car-single.html').offers-list__btns-white Подробнее
                    a(href='#').offers-list__btns-blue Оформить
        li.offers-list__item
            .offers-list__photo
                +image('../images/img/offer-image-3.png','offers-list__img')
                a.offers-list__favourite.favourite.favourite__link.favourite__link_active(href='#')
                    +icon('star','offers__icon')
            .offers-list__info
                .offers-list__title
                    span Mercedes-Benz G450 (500DDD01)
                .offers-list__driver-name
                    span Абельдинов Азамат
                .offers-list__rating.rating
                    .rating__star(data-rateyo-rating="3")
                    span.offers-list__sub-text (23 голоса)
                ul.offers-list__car-desc.car.car__desc-list
                    li.car__desc-item
                        .car__desc-icon
                            +icon('city','car__desc-icon-svg')
                        .car__desc-subtext
                            span город
                        .car__desc-text
                            span Астана
                    li.car__desc-item
                        .car__desc-icon
                            +icon('year','car__desc-icon-svg')
                        .car__desc-subtext
                            span год выпуска
                        .car__desc-text
                            span 2012
                    li.car__desc-item
                        .car__desc-icon
                            +icon('color','car__desc-icon-svg')
                        .car__desc-subtext
                            span цвет
                        .car__desc-text
                            span Черный
                    li.car__desc-item
                        .car__desc-icon
                            +icon('engine','car__desc-icon-svg')
                        .car__desc-subtext
                            span тип двигателя
                        .car__desc-text
                            span Бензин
            .offers-list__actions
                .offers-list__price
                    span 15 000 тг.
                    span.offers-list__sub-text /час
                .offers-list__btns
                    a(href='/car-single.html').offers-list__btns-white Подробнее
                    a(href='#').offers-list__btns-blue Оформить
        li.offers-list__item
            .offers-list__photo
                +image('../images/img/offer-image-2.png','offers-list__img')
                a.offers-list__favourite.favourite.favourite__link.favourite__link_active(href='#')
                    +icon('star','offers__icon')
            .offers-list__info
                .offers-list__title
                    span Mercedes-Benz G450 (500DDD01)
                .offers-list__driver-name
                    span Абельдинов Азамат
                .offers-list__rating.rating
                    .rating__star(data-rateyo-rating="3")
                    span.offers-list__sub-text (23 голоса)
                ul.offers-list__car-desc.car.car__desc-list
                    li.car__desc-item
                        .car__desc-icon
                            +icon('city','car__desc-icon-svg')
                        .car__desc-subtext
                            span город
                        .car__desc-text
                            span Астана
                    li.car__desc-item
                        .car__desc-icon
                            +icon('year','car__desc-icon-svg')
                        .car__desc-subtext
                            span год выпуска
                        .car__desc-text
                            span 2012
                    li.car__desc-item
                        .car__desc-icon
                            +icon('color','car__desc-icon-svg')
                        .car__desc-subtext
                            span цвет
                        .car__desc-text
                            span Черный
                    li.car__desc-item
                        .car__desc-icon
                            +icon('engine','car__desc-icon-svg')
                        .car__desc-subtext
                            span тип двигателя
                        .car__desc-text
                            span Бензин
            .offers-list__actions
                .offers-list__price
                    span 15 000 тг.
                    span.offers-list__sub-text /час
                .offers-list__btns
                    a(href='/car-single.html').offers-list__btns-white Подробнее
                    a(href='#').offers-list__btns-blue Оформить
        li.offers-list__item
            .offers-list__photo
                +image('../images/img/offer-image-1.png','offers-list__img')
                a.offers-list__favourite.favourite.favourite__link.favourite__link_active(href='#')
                    +icon('star','offers__icon')
            .offers-list__info
                .offers-list__title
                    span Mercedes-Benz G450 (500DDD01)
                .offers-list__driver-name
                    span Абельдинов Азамат
                .offers-list__rating.rating
                    .rating__star(data-rateyo-rating="3")
                    span.offers-list__sub-text (23 голоса)
                ul.offers-list__car-desc.car.car__desc-list
                    li.car__desc-item
                        .car__desc-icon
                            +icon('city','car__desc-icon-svg')
                        .car__desc-subtext
                            span город
                        .car__desc-text
                            span Астана
                    li.car__desc-item
                        .car__desc-icon
                            +icon('year','car__desc-icon-svg')
                        .car__desc-subtext
                            span год выпуска
                        .car__desc-text
                            span 2012
                    li.car__desc-item
                        .car__desc-icon
                            +icon('color','car__desc-icon-svg')
                        .car__desc-subtext
                            span цвет
                        .car__desc-text
                            span Черный
                    li.car__desc-item
                        .car__desc-icon
                            +icon('engine','car__desc-icon-svg')
                        .car__desc-subtext
                            span тип двигателя
                        .car__desc-text
                            span Бензин
            .offers-list__actions
                .offers-list__price
                    span 15 000 тг.
                    span.offers-list__sub-text /час
                .offers-list__btns
                    a(href='/car-single.html').offers-list__btns-white Подробнее
                    a(href='#').offers-list__btns-blue Оформить
        li.offers-list__item
            .offers-list__photo
                +image('../images/img/offer-image-2.png','offers-list__img')
                a.offers-list__favourite.favourite.favourite__link.favourite__link_active(href='#')
                    +icon('star','offers__icon')
            .offers-list__info
                .offers-list__title
                    span Mercedes-Benz G450 (500DDD01)
                .offers-list__driver-name
                    span Абельдинов Азамат
                .offers-list__rating.rating
                    .rating__star(data-rateyo-rating="3")
                    span.offers-list__sub-text (23 голоса)
                ul.offers-list__car-desc.car.car__desc-list
                    li.car__desc-item
                        .car__desc-icon
                            +icon('city','car__desc-icon-svg')
                        .car__desc-subtext
                            span город
                        .car__desc-text
                            span Астана
                    li.car__desc-item
                        .car__desc-icon
                            +icon('year','car__desc-icon-svg')
                        .car__desc-subtext
                            span год выпуска
                        .car__desc-text
                            span 2012
                    li.car__desc-item
                        .car__desc-icon
                            +icon('color','car__desc-icon-svg')
                        .car__desc-subtext
                            span цвет
                        .car__desc-text
                            span Черный
                    li.car__desc-item
                        .car__desc-icon
                            +icon('engine','car__desc-icon-svg')
                        .car__desc-subtext
                            span тип двигателя
                        .car__desc-text
                            span Бензин
            .offers-list__actions
                .offers-list__price
                    span 15 000 тг.
                    span.offers-list__sub-text /час
                .offers-list__btns
                    a(href='/car-single.html').offers-list__btns-white Подробнее
                    a(href='#').offers-list__btns-blue Оформить
        li.offers-list__item
            .offers-list__photo
                +image('../images/img/offer-image-3.png','offers-list__img')
                a.offers-list__favourite.favourite.favourite__link.favourite__link_active(href='#')
                    +icon('star','offers__icon')
            .offers-list__info
                .offers-list__title
                    span Mercedes-Benz G450 (500DDD01)
                .offers-list__driver-name
                    span Абельдинов Азамат
                .offers-list__rating.rating
                    .rating__star(data-rateyo-rating="3")
                    span.offers-list__sub-text (23 голоса)
                ul.offers-list__car-desc.car.car__desc-list
                    li.car__desc-item
                        .car__desc-icon
                            +icon('city','car__desc-icon-svg')
                        .car__desc-subtext
                            span город
                        .car__desc-text
                            span Астана
                    li.car__desc-item
                        .car__desc-icon
                            +icon('year','car__desc-icon-svg')
                        .car__desc-subtext
                            span год выпуска
                        .car__desc-text
                            span 2012
                    li.car__desc-item
                        .car__desc-icon
                            +icon('color','car__desc-icon-svg')
                        .car__desc-subtext
                            span цвет
                        .car__desc-text
                            span Черный
                    li.car__desc-item
                        .car__desc-icon
                            +icon('engine','car__desc-icon-svg')
                        .car__desc-subtext
                            span тип двигателя
                        .car__desc-text
                            span Бензин
            .offers-list__actions
                .offers-list__price
                    span 15 000 тг.
                    span.offers-list__sub-text /час
                .offers-list__btns
                    a(href='/car-single.html').offers-list__btns-white Подробнее
                    a(href='#').offers-list__btns-blue Оформить
        li.offers-list__item
            .offers-list__photo
                +image('../images/img/offer-image-1.png','offers-list__img')
                a.offers-list__favourite.favourite.favourite__link.favourite__link_active(href='#')
                    +icon('star','offers__icon')
            .offers-list__info
                .offers-list__title
                    span Mercedes-Benz G450 (500DDD01)
                .offers-list__driver-name
                    span Абельдинов Азамат
                .offers-list__rating.rating
                    .rating__star(data-rateyo-rating="3")
                    span.offers-list__sub-text (23 голоса)
                ul.offers-list__car-desc.car.car__desc-list
                    li.car__desc-item
                        .car__desc-icon
                            +icon('city','car__desc-icon-svg')
                        .car__desc-subtext
                            span город
                        .car__desc-text
                            span Астана
                    li.car__desc-item
                        .car__desc-icon
                            +icon('year','car__desc-icon-svg')
                        .car__desc-subtext
                            span год выпуска
                        .car__desc-text
                            span 2012
                    li.car__desc-item
                        .car__desc-icon
                            +icon('color','car__desc-icon-svg')
                        .car__desc-subtext
                            span цвет
                        .car__desc-text
                            span Черный
                    li.car__desc-item
                        .car__desc-icon
                            +icon('engine','car__desc-icon-svg')
                        .car__desc-subtext
                            span тип двигателя
                        .car__desc-text
                            span Бензин
            .offers-list__actions
                .offers-list__price
                    span 15 000 тг.
                    span.offers-list__sub-text /час
                .offers-list__btns
                    a(href='/car-single.html').offers-list__btns-white Подробнее
                    a(href='#').offers-list__btns-blue Оформить


