.pagination
    .pagination__wrapper
        a(href='#').pagination__prev-page
            svg.pagination__icon(width='7', height='12', viewBox='0 0 7 12', fill='#75869A', xmlns='http://www.w3.org/2000/svg')
                path(d='M-6.67572e-05 5.9534C-6.67572e-05 6.16679 0.0814114 6.38016 0.244025 6.54285L5.36371 11.6625C5.68938 11.9882 6.21741 11.9882 6.54295 11.6625C6.8685 11.3369 6.8685 10.809 6.54295 10.4833L2.01277 5.9534L6.54279 1.42346C6.86834 1.09779 6.86834 0.569918 6.54279 0.244401C6.21725 -0.0814323 5.68922 -0.0814323 5.36355 0.244401L0.243866 5.36395C0.0812263 5.52672 -6.67572e-05 5.74009 -6.67572e-05 5.9534Z')
        a(href='#').pagination__first-page ...
        ul.pagination__count-list
            li.pagination__count-item
                a(href='#').pagination__count-link
                    span 3
            li.pagination__count-item
                a(href='#').pagination__count-link
                    span 4
            li.pagination__count-item
                a(href='#').pagination__count-link.pagination__count-link_active
                    span 5
            li.pagination__count-item
                a(href='#').pagination__count-link
                    span 6
            li.pagination__count-item
                a(href='#').pagination__count-link
                    span 7
            li.pagination__count-item
                a(href='#').pagination__count-link
                    span 8
        a(href='#').pagination__last-page ...
        a(href='#').pagination__next-page
            svg.pagination__icon(width='7', height='12', viewBox='0 0 7 12', fill='#75869A', xmlns='http://www.w3.org/2000/svg')
                path(d='M6.78718 5.9534C6.78718 6.16679 6.7057 6.38016 6.54308 6.54285L1.4234 11.6625C1.09773 11.9882 0.569701 11.9882 0.244158 11.6625C-0.0813859 11.3369 -0.0813859 10.809 0.244158 10.4833L4.77434 5.9534L0.244316 1.42346C-0.0812277 1.09779 -0.0812277 0.569918 0.244316 0.244401C0.569859 -0.0814323 1.09789 -0.0814323 1.42356 0.244401L6.54324 5.36395C6.70588 5.52672 6.78718 5.74009 6.78718 5.9534Z')