.social
    ul.social__list
        li.social__item
            a.social__elem(href='#')
                +icon('instagram','social__instagram')
        li.social__item
            a.social__elem(href='#')
                +icon('whatsapp','social__whatsapp')
        li.social__item
            a.social__elem(href='#')
                +icon('facebook','social__facebook')