.content{
  background: rgba(229, 244, 255, 0.4);
  min-height: 820px;
  padding: 73px 0 122px;
  margin-top: -20px;

  @include phones($phones){
    min-height: 595px;
    padding: 30px 0 51px;
    margin-top: -25px;
  }
}

.content__container{
  max-width: 954px;
}